language: node_js

node_js:
  - "lts/dubnium"

dist: xenial
cache: npm

script:
  - npm run test:ci
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  target-branch: dist
  keep-history: true
  on:
    branch: master
